<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Online Objective Test</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"
                        >View Questions for {{ subject_code }} - {{ subject_name }}
                        <span class="sr-only">(current)</span></a
                    >
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" href="./">Exit</a>
                </li>
            </ul>
        </nav>
        <div class="container mt-3 mb-3">
            {% for question in questions %}
            <div class="alert alert-secondary">
                <h4>Question No {{ forloop.counter }}: <span class="float-right">CO {{ question.question_co }}</span></h4>
                <br>
                <h5>Question</h5>
                <div class="container">
                    {{ question.question | safe }}
                </div>
                <h5>Option 1</h5>
                {% if question.option_one_answer %}
                    <div class="container alert alert-success">
                {% else %}
                    <div class="container">
                {% endif %}
                    {{ question.option_one | safe }}
                </div>
                <h5>Option 2</h5>
                {% if question.option_two_answer %}
                    <div class="container alert alert-success">
                {% else %}
                    <div class="container">
                {% endif %}
                    {{ question.option_two | safe }}
                </div>
                <h5>Option 3</h5>
                {% if question.option_three_answer %}
                    <div class="container alert alert-success">
                {% else %}
                    <div class="container">
                {% endif %}
                    {{ question.option_three | safe }}
                </div>
                <h5>Option 4</h5>
                {% if question.option_four_answer %}
                    <div class="container alert alert-success">
                {% else %}
                    <div class="container">
                {% endif %}
                    {{ question.option_four | safe }}
                </div>
                <div class="float-right">
                    <a class="btn btn-danger" href="./question/edit/{{question.question_number}}/">Edit</a>
                </div>
                <br><br>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
